/* HERO */
.hero {
  position: relative;
  height: 100vh;
  height: 100dvh;
  background-image: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.hero-content {
  position: relative;
  text-align: center;
  max-width: 800px;
  padding: 1rem;
}

.hero-content h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* BUTTONS */
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.home-btn {
  padding: 0.8rem 1.8rem;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.primary {
  background: #fe424d;
  color: #fff;
}

.primary:hover {
   opacity: 1;
}

.secondary {
  border: 2px solid #fff;
  color: #fff;
}

.secondary:hover {
  background: #fff;
  color: #000;
}

/* FEATURES */
.features {
  padding: 4rem 2rem;
  text-align: center;
}

.features h2 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
}

.feature-card {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0, 0.2);
}

/* CTA */

.cta-map {
  padding: 4rem 2rem;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #fff;
  text-align: center;
}

.cta-map-content {
  max-width: 700px;
  margin: auto;
}

.cta-map h2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.cta-map p {
  font-size: 1.1rem;
  opacity: 0.9;
  margin-bottom: 2rem;
}

.f-info {
    background-color: #0f2027;
    color: #fff;
}

.f-info a {
    color: #fff;
}
