<div class="modal" id="dateModal">
    <div class="modal-content">
        <h3>Change dates</h3>
        <label for="startDate">Check-in</label>
        <input type="date" name="" id="startDate" class="form-control date">

        <label for="endDate">Check-out</label>
        <input type="date" name="" id="endDate" class="form-control date">
        <div class="buttons mt-3">
            <button id="clearBtn" class="btn btn-light">Clear dates</button>
            <button id="saveBtn" class="btn btn-dark">Save</button>
        </div>
    </div>
</div>