<div id="policyModal" class="modal">
  <div class="modal-content">
    <h3>Non-Refundable Policy</h3>
    <p class="text-body-secondary">
      This reservation is <b>non-refundable</b>. Once the booking is confirmed and payment
      is completed, cancellations or modifications will not be eligible for any
      refund. By proceeding, you acknowledge and accept this policy.
    </p>
  </div>
</div>